<!DOCTYPE HTML>
<html>
<head>
<title>Profile Home</title>
<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/sitelogo.png') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Sign In</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Welcome, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
			Cart ( {{noOfItems}} )
		</a>
	</div>
</div>
			<h1 align="center"> Profile Home</h1>
<div class="display" align="center">
	<a href="/account/profile/view" class="button button2">View Profile</a><br>
	<a href="/account/profile/edit" class="button button2">Edit Profile</a><br>
	<a href="/account/profile/changePassword" class="button button2">Change password</a>
</div>
</body>
</html>
